# REQUIRED
OPENSEARCH_INITIAL_ADMIN_PASSWORD=ahmed0246813579A*

# Optional naming
OPENSEARCH_CLUSTER_NAME=ndr-central
OPENSEARCH_NODE_NAME=opensearch-node1

# JVM sizing
OPENSEARCH_JAVA_OPTS="-Xms4g -Xmx4g"

# Real NDR admin user created after bootstrap
NDR_ADMIN_USERNAME=admin
NDR_ADMIN_PASSWORD=admin

# OpenSearch Dashboards server user
OS_DASHBOARDS_USERNAME=kibanaserver
OS_DASHBOARDS_PASSWORD=kibanaserver

# Data Prepper -> OpenSearch
OS_INGEST_USERNAME=logstash
OS_INGEST_PASSWORD=logstash

# Vector -> Data Prepper
DP_HTTP_USERNAME=vector
DP_HTTP_PASSWORD=vector

# Optional index prefix
DP_INDEX_PREFIX=zeek



AZURE_SUBNETS=hub:hub-vnet:hub-subnet:10.50.0.0/24;spoke1:spoke1-vnet:app-subnet:10.51.1.0/24;spoke1:spoke1-vnet:services-subnet:10.51.3.0/24;spoke2:spoke2-vnet:app-subnet:10.52.1.0/24
